OPENAI_API_KEY=""
DATABASE_URL=postgresql+asyncpg://localhost/bullhorn


BH_A_CLIENT_ID=...
BH_A_CLIENT_SECRET=...
BH_A_USERNAME=...
BH_A_PASSWORD=...
BH_A_NAME=cmcpartners

BH_B_CLIENT_ID=...
BH_B_CLIENT_SECRET=...
BH_B_USERNAME=...
BH_B_PASSWORD=...
BH_B_NAME=...

ALLOWED_ORIGINS=http://localhost:5173
CRON_SECRET=
